[Desktop Entry]
Type=Application
Name=Linxira Completion
Exec=linxira-completion-agent --autostart
Icon=system-software-install
Terminal=false
OnlyShowIn=KDE;GNOME;
X-KDE-autostart-after=panel
