[Desktop Entry]
Type=Application
Name=Linxira Completion
Comment=Complete software selected during installation
Exec=linxira-completion-agent
Icon=system-software-install
Terminal=false
Categories=System;
StartupNotify=true
